VITE_BUBBLE_ROOM_ADDRESS=0x
VITE_ORCHESTRATOR_ADDRESS=0x
VITE_GENESIS_SBT_ADDRESS=0x
VITE_SPAWN_ADDRESS=0x
VITE_TRAITS_ADDRESS=0x
VITE_SEED_REGISTRY_ADDRESS=0x
VITE_GOVERNANCE_ADDRESS=0x
VITE_TOMB_ADDRESS=0x
